# AWS IoT Core / MQTT
AWS_IOT_ENDPOINT=
MQTT_PORT=8883
MQTT_TOPIC=g2/raspi
DEVICE_ID=raspi

# Cognito M2M
COGNITO_TOKEN_URL=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_SCOPE=
COGNITO_USER_POOL=

# API Gateway
API_URL=
WEBSOCKET_URL=

# AWS Resources
AWS_REGION=us-east-2
FIREHOSE_STREAM=
S3_DATA_BUCKET=
S3_MEDIA_BUCKET=
SNS_ALERTS_TOPIC=

# Cámara
CAMERA_DEVICE=0
CAMERA_BUFFER_SECS=20
CAMERA_PORT=5000

# Detector
YOLO_MODEL=models/helmet_model_medium.pt
YOLO_CONF=0.5
DETECTION_INTERVAL=1
ALERT_DURATION_SECS=15
NORMAL_EVENT_INTERVAL=10
PERSON_MODEL_PATH=yolov8n.pt
IOU_THRESHOLD=0.45
IMG_SIZE=640
PROCESS_EVERY_N_FRAMES=3
USE_PERSON_FALLBACK=true
USE_COLOR_FALLBACK=true
SAVE_OUTPUT=true
OUTPUT_PATH=output_detection.mp4
DISPLAY_VIDEO=true
